.header {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    text-decoration: none;
    z-index: 34;
}

.header__logo{
    color: rgb(179,180,211);
}



@media (max-width: 622px) {
    .header__nav {
        display: none;
    }
    .header{
        margin-top: 7.7%;
    }
}


@media (min-width: 625px) {
    /* .container {
        max-width: 768px;
    } */

    .header {

        justify-content: space-between;

    }
}


.header__nav a {

    position: relative;
    font-size: 1.1em;
    color: rgb(179, 180, 211);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.section {
    margin-top: 8rem;
}





/* @media (min-width: 1024px ) {} */
